@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=DM+Sans:opsz,wght@9..40,200&family=Roboto:wght@300&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=DM+Sans:opsz,wght@9..40,100&family=Roboto:wght@300&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=DM+Sans:opsz,wght@9..40,100;9..40,200&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=DM+Sans:opsz,wght@9..40,100;9..40,200&family=Flow+Circular&family=Roboto:wght@300&display=swap");
/* body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  
  
  /* flex-wrap: wrap 
} */
:root {
  --black: #000;
  --grey: #121212;
  --light-grey: #232323;
  --white: #fff;
}
body,
html {
  height: 100%;
  margin: 0rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-color: var(--black);
  color: var(--white);
}
header {
  display: flex;
  flex: 1;
  overflow: hidden;
  background-color: var(--black);
  /* padding: 0.5rem; */
}

.sidebar {
  flex: 0.25;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

.logo {
  padding: 10px;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 300px;
  background-color: #000000ff;
}
.navi-items {
  padding: 10px;
  color: white;
  border-radius: 4px;
  transition: 5ms linear;
}
.navi-items > img {
  color: white;
  margin-right: 10px;
  /* flex-direction: ; */
}
.navi-items > a {
  font-family: "DM Sans", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  color: #ffffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.06em;
  text-align: left;
  text-decoration: none;
}

.navation {
  padding: 50px 20px 100px;
}
.navitioon-2 {
  margin: 30px 0px;
}
.navi-items:hover {
  background-color: #282828ff;
  cursor: pointer;
}
.my-pod > img {
  width: 37.056602478027344px;
  height: 37.056602478027344px;
}
.Download {
  text-decoration: none;

  font-family: "DM Sans", sans-serif;
  margin-left: 10px;
  color: #ffffffff;
  font-size: 23px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 300px;
}
.my-image {
  margin-top: 500px;
}
.main {
  flex: 0.8;
  overflow-y: auto;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  /* padding: 0rem 1rem; */
  border-radius: 0.5rem;
  padding-bottom: 6rem;
}

.main-head {
  /* padding: 20px; */
  padding-top: 100px;
  background-color: #78918bff;
  display: flex;
  align-items: center;
}
.play-head {
  /* font-family: Circular Std; */
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
}
.play-caption {
  font-size: 90px;
  font-weight: 900;
  line-height: 114px;
  color: #ffffff;
  font-family: "ABeeZee", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Flow Circular", cursive;
  font-family: "Roboto", sans-serif;
}

.play-tagline {
  color: #c6cac9ff;
  font-family: "ABeeZee", sans-serif;
  font-family: "DM Sans", sans-serif;
  font-family: "Flow Circular", cursive;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.02em;
  text-align: left;
}
#capi{
    color: #ffffff;
    font-family: "ABeeZee", sans-serif;
    font-family: "DM Sans", sans-serif;
    font-family: "Flow Circular", cursive;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-left: 5px;
    
}
.same{
    font-family: "ABeeZee", sans-serif;
    font-family: "DM Sans", sans-serif;
    font-family: "Flow Circular", cursive;
    font-family: "Roboto", sans-serif;
    color: rgb(199, 200, 201) !important;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: -0.3px;
    cursor: pointer;
}
.main-mid{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.hor{
    color: #ffffff;
}
.play-push{
    background-color: #1db954ff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
    /* transition: all 0.1 e */
}
.col{
    color: #c6cac9ff;
    font-family: "ABeeZee", sans-serif;
    font-family: "DM Sans", sans-serif;
    font-family: "Flow Circular", cursive;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: left;
}
.main-body{
    
        
        padding: 10px 30px;
 
}
.main-boby-body{
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
     transition: 5ms linear;
}
.main-boby-body:hover{
    box-shadow: 5px 5px 10px gray;
}
.main-heading{
    /* margin-inline: 50px; */
    margin-left: 100px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
.main-h-color{
    color: #b8babaff;
    font-size: 18px;
}
.song-title{
    color: #c6cac9ff;
    font-family: "ABeeZee", sans-serif;
font-size: 20px;
font-weight: 400;
/* line-height: 18px; */
letter-spacing: 0em;
text-align: left;

}
.fram{
    display: flex;
    gap: 10px;
}
.song-para{
    color: #c6cac9ff;
    font-family: "ABeeZee", sans-serif;
 
    font-size: 14px;
    font-weight: 400;
    /* line-height: 18px; */
    letter-spacing: 0em;
    text-align: left;
    

}
.higi{
    margin-inline: 20px;
}































.player {
  height: 80px;
  width: 100%;

  background-color: #212121;
  position: fixed;
  box-sizing: border-box;
  bottom: 0px;
}

.myplayer {
  /* background-color: red; */
  height: 60%;
  display: flex;

  justify-content: space-between;
}

.botam-palyer > div {
  font-family: "DM Sans", sans-serif;
  padding: 0px 10px;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.pro {
  height: 30%;
}
/* .pro>span{
    color: white;
    margin-inline: 30px;
} */
.prog {
  width: 500px;
  height: 20%;
  background-color: #346b93ff;
  border-radius: 5px;
}
.prog-inside {
  width: 300px;
  height: 100%;
  background-color: #c4c4c4ff;
  border-radius: 5px;
}
.s-name {
  /* font-family: DM Sans; */
  font-family: "DM Sans", sans-serif;

  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-align: left;
  color: var(--white);
}
.s-sing {
  /* font-family: DM Sans; */
  font-family: "DM Sans", sans-serif;
  color: var(--white);
  font-size: 15px !important;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.05em;
  text-align: left;
}


.myplayground > i {
  /* background-color: #c4c4c4ff; */
  color: #c4c4c4ff;
  width: 11.625001907348633px;
  height: 12.916666030883789px;
  width: 50px;
}
.progress-bar {
  height: 5px;
  width: 100px;
  background-color: #346b93ff;
}
.progress {
  width: 70%;
  background-color: #c4c4c4ff;
}
.expanded-item {
  transition: 5ms linear;
  padding: 5px;
}
.expanded-item > img {
  border-radius: 50%;
}
.expanded-item:hover {
  box-shadow: 5px 5px 10px white;
  box-shadow: -5px -5px 10px white;

  /* background-color: white; */
}
::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main {
    flex: 1;
  }


  .helo {
    display: none;
  }
  .myplayer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
